apiVersion: v1
kind: Secret
metadata:
  name: nextcloud-secret
type: Opaque
data:
  nextcloud-db-name:
  nextcloud-db-user:
  nextcloud-db-password:
  nextcloud-admin-user:
  nextcloud-admin-password:
